 @import "tailwindcss";

 :root {
 	--accent: #0092FF;
 }

 a {
 	color: var(--accent);
 }

 a:hover {
 	color: var(--accent);
 }

 body {
 	font-family: 'Poppins', sans-serif;
 }

 button {
 	cursor: pointer;
 	background-color: var(--accent);
 }

 .blog-post {
 	font-family: 'Times New Roman', Times, serif
 }